
# 忽略在files/analysis/目錄地下的非.pdf檔案
files/alanalysis/**/*.aux
files/alanalysis/**/*.bbl
files/alanalysis/**/*.blg
files/analysis/**/*.dvi
files/analysis/**/*.log
files/analysis/**/*.ps
files/analysis/**/*.nav
files/analysis/**/*.out
files/analysis/**/Makefile
files/analysis/**/*.tex
files/analysis/**/*.pptx
files/analysis/**/*.ppt

# 忽略文件夾
files/DocsToDepartment/

