html, body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat
    background-seze: cover;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align:center;
    margin:auto;
    margin-top: 5%;
    color:white;
    font-family: 'Century Gothic', sans-serif;
}

.box-mag{
    border-radius:50%;
    width: 200px;
    height: 200px;
}
.container {
height:100%;
width:100%;
border: 1px solid green;
position:fixed;
background: url(image/login.jpg) no-repeat;text-align:center;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.profile-picture {
    border-radius: 50%;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  background-color: lightblue;

  display: flex;
  flex-direction: row;
  height: 100%;
}

.left, .right {
  background-color: lightblue;
  
  margin: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}


.body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}
